<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smotteh.milestone6">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Contacts"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smotteh.milestone6.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smotteh.milestone6.PromptCreateActivity" />
        <activity android:name="com.smotteh.milestone6.CreatePersonActivity" />
        <activity android:name="com.smotteh.milestone6.CreateBusinessActivity" />
        <activity android:name="com.smotteh.milestone6.ViewPersonActivity" />
        <activity android:name="com.smotteh.milestone6.EditPersonActivity" />
    </application>

</manifest>